.location {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 10px;
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  color: #fff;
  border: 10px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1.5em;
  padding: 10px 20px;
  margin: 5px;
  flex-grow: 1;
}

#wicon {
  margin-bottom: -16px;
}

.locDesc {
  font-size: 0.5em;
  text-align: center;
}

.searchBox {
  height: 2.5em;
  margin-right: 10px;
  padding: 0 0 0 4px;
  font-size: 0.9em;
}

.savedSpots {
  display: flex;
}
