.settings {
  width: 90%;
  max-width: 50em;
  margin: 4em auto;
  text-align: left;
  display: flex;
}

.settings form {
  margin-bottom: 1em;
}

.settings h3 {
  text-align: center;
}

.settings form input {
  padding-left: 5px;
  width: 100%;
}

.settings fieldset {
  padding: 1.2em 1em;
  max-width: 17em;
  margin: 1em;
}

.settings .button--default {
  font-size: 0.7em;
}

.settings fieldset .button--default {
  margin-top: 15px;
  font-size: 0.8em;
  float: right;
}
